---
import Layout from "@/layouts/Layout.astro"
import { getCollection, type CollectionEntry } from "astro:content"

const blogs = await getCollection('blog')
---

<Layout 
  title="blog" 
  keywords={["blog of ikhwan satrio","ikhwan satrio blog","main blog ikhwan satrio"]}
  description="blog page, i share a day in my life here!"
>
  <main class="w-full min-h-screen flex justify-center items-start py-10 bg-gray-50">
    <div class="w-[90%] h-[600px] flex flex-wrap gap-6 shadow-2xl p-5 rounded-lg ">
      {blogs.map((blog: CollectionEntry<"blog"> ) => (
      <a href={`/blog/${blog.id.replaceAll('.md','')}`}>
        <article class=" w-fit lg:h-[300px] sm:w-full md:w-[50%]  bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow">
          <img 
            src={blog.data.thumbnail} 
            alt={blog.data.title} 
            class="w-full h-40 object-cover"
            transition:name={`image-${blog.id.replaceAll('.md','')}`}
            />
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2" transition:name={`title-${blog.id.replaceAll('.md','')}`}>{blog.data.title}</h2>
            <p class="text-sm text-gray-600">{blog.data.description}</p>
            <p class="text-xs text-gray-400 mt-2">{blog.data.date}</p>
            <p class="text-xs text-gray-400 mt-2">category: {blog.data.category}</p>
        </div>
        </article>
        </a>
      ))}
    </div>
  </main> 
</Layout>

